footer {
    margin: auto;
    max-width: 600px;
    padding: 1vw 2vw;

    .links {
        font-family: "FontAwesome";
        text-align: center;
        
        a {
            border: none;
            font-size: 4vw;
            margin: 0 1vw;
            padding: 0.5vw;
            text-decoration: none;

            $hovermap: (
                at: #8e8e8e,
                github: #55a532,
                instagram: #d047d1,
                linkedin: #007bb6,
                twitter: #55acee
            );

            @each $key, $val in $hovermap {
                .fa-#{$key}:hover {
                    color: $val;
                }
            }
        }
    }
    
    .copyright {
        margin: 20px auto;
        text-align: center;
    }
}
