$logo_border: 5px solid;
$logo_height: 40px;
$logo_left: 39px;
$logo_top: 28px;
$anim_duration: 1.5s;
$anim_easing: forwards ease-in-out;

@keyframes logoB1 {
    20% {
        transform: rotate(0);
    }
    100% {
        border-radius: 5px;
        transform: rotate(145deg) skew(20deg);
    }
}

@keyframes logoB2 {
    20% {
        transform: rotate(0);
    }
    100% {
        border-radius: 5px;
        transform: rotate(215deg) skew(-20deg);
    }
}

@keyframes logoS1 {
    20% {
        transform: rotate(0);
    }
    100% {
        border-radius: 5px;
        left: $logo_left + 31px;
        transform: rotate(-155deg) skew(-20deg);
    }
}

@keyframes logoS2 {
    20% {
        transform: rotate(0);
    }
    100% {
        border-radius: 5px;
        left: $logo_left + 10px;
        transform: rotate(-45deg) skew(20deg);
    }
}

header {
    padding: 2vw;

    a {
        border: none;
    }

    .masthead-box {
        margin-bottom: 10px;
        text-align: center;

        .masthead {
            display: inline-block;
            padding: 1vw;
        }

        .logo {
            height: 70px;
            position: relative;
            width: 110px;

            div {
                display: inline-block;
                height: $logo_height;
                position: absolute;
                width: $logo_height;
            }

            .b1 {
                animation: logoB1 $anim_duration $anim_easing;
                border-top: $logo_border;
                border-left: $logo_border;
                left: 0;
                top: 0;
            }

            .b2 {
                animation: logoB2 $anim_duration $anim_easing;
                border-bottom: $logo_border;
                border-left: $logo_border;
                left: 0;
                top: $logo_top;
            }

            .s1 {
                animation: logoS1 $anim_duration $anim_easing;
                border-right: $logo_border;
                border-top: $logo_border;
                left: $logo_left;
                top: 0;
            }

            .s2 {
                animation: logoS2 $anim_duration $anim_easing;
                border-bottom: $logo_border;
                border-right: $logo_border;
                left: $logo_left;
                top: $logo_top;
            }
        }
    }

    nav {
        display: inline-block;
        padding: 0 10px;

        ul {
            font-family: Monaco, Menlo, "Courier New", Courier, monospace;
            list-style-type: none;
            padding: 0;

            li {
                display: inline-block;
                padding: 5px;
            }
        }
    }
}

@media (min-width: 480px) {
    header {
        nav {
            li {
                margin: 5px 0;
            }
        }
    }
}