*, *::after, *::before {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

progress {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    height: 5px;
    width: 100%;
    
    &::-webkit-progress-bar {
        background-color: transparent;
    }
    
    &#scrollPos {
        left: 0;
        position: fixed;
        top: 0;
    }
}

a {
    border-bottom: 3px solid;
    text-decoration: none;
}

.content {
    flex: 1;
    margin: auto;
    padding: 1em 2em;
}

img {
    height: auto;
    max-width: 100%;
}

.video-box {
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
    
    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

twitterwidget {
    margin: auto;
}

.index {
    
}

.blog {

    .post-list {
        list-style-type: none;
        padding-left: 0;

        li {
            margin: 10px 0;

            .post-meta {
                display: inline-block;
                margin-right: 20px;
            }
        }
    }
}

.post {
    max-width: 600px;

    .post-meta {
        font-size: 0.9em;
    }

    .post-content {
        font-size: 1.1em;
        line-height: 1.4em;
        
        blockquote {
            border-left-width: 5px;
            border-left-style: solid;
            margin: 0;
            padding: 10px;
    
            p {
                margin: 0;
            }
        }
    }
}

.lists {

    h1 {
        text-align: center;
    }

    a {
        border: 0 none;
        margin: 20px;
    }
}

.reading {

    a {
        border: 0 none;
    }

    .gr_grid_book_container {
        float: left;
        width: 98px;
        height: 160px;
        padding: 0px 0px;
        overflow: hidden;
    }
}

@import '_scss/header';
@import '_scss/footer';

@import '_scss/variables';
@import '_scss/theme';

@each $theme in $theme_day, $theme_night {
    @include create_theme($theme);
}
