body {
    background-color: $body_bg;
    color: $body_color;
}

a {
   color: $link_color;
   border-color: $link_color_light;
   transition: all 0.5s;

    &:hover {
        color: $link_hover_color;
        border-color: $link_color;
    }
}

.index {
    .insta-holder {
        a {
            color: white;
        }
        .insta-item {
            .meta {
                color: $body_bg;

                &:hover {
                    background: rgba($link_hover_color, 0.8);
                }
            }
        }
    }
}

.blog {

    .post-list {

        li {

            .post-meta {
                color: $light_text_color;
            }
        }
    }
}

.post {

    blockquote {
        background-color: $light_bg_color;
        border-color: $link_color;
    }
}
