@mixin create_theme($theme) {
    body.#{map-get($theme, body_class)} {
        background-color: map-get($theme, body_bg);
        color: map-get($theme, body_color);

        progress {
            color: map-get($theme, progress_color);

            &::-webkit-progress-value {
                background-color: map-get($theme, progress_color);
            }
        }

        a {
            color: map-get($theme, link_color);
            border-color: map-get($theme, link_color_light);

            &:hover {
                color: map-get($theme, link_hover_color);
                border-color: map-get($theme, link_color);
            }
        }

        header {

            .masthead, nav {
                background: map-get($theme, body_bg);
            }
        }

        footer {

            .quote {
                color: map-get($theme, light_text_color);
                
                .fa {
                    color: map-get($theme, light_text_color);
                }
            }

            .copyright {
                color: map-get($theme, light_text_color);
            }
        }

        .index {

            .insta-holder {
                
                a {
                    color: map-get($theme, body_bg);
                }
                .insta-item {

                    .meta {
                        color: map-get($theme, body_bg);

                        &:hover {
                            background: rgba(map-get($theme, link_hover_color), 0.8);
                        }
                    }
                }
            }
        }

        .blog {

            .post-list {

                li {

                    .post-meta {
                        color: map-get($theme, light_text_color);
                    }
                }
            }
        }

        .post {

            .post-meta {
                color: map-get($theme, light_text_color);
            }

            blockquote {
                background-color: map-get($theme, light_bg_color);
                border-color: map-get($theme, link_color);
            }
        }
    }
}
