.segment-clock {
    margin: 20px auto 100px;

    .error-message {
        display: none;
    }

    .clock {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 320px) {
    .segment-clock {
        .error-message {
            display: block;
        }

        .clock {
            display: none;
        }
    }
}
