$theme_day: (
    on: #808080,
    off: #dddddd
);

$theme_night: (
    on: #dddddd,
    off: #808080
);

.helvetica-clock {
    font-family: Helvetica, Arial, sans-serif;

    .row {

        .item {
            display: inline-block;
            font-size: 3vw;
            height: 4vw;
            text-align: center;
            width: 4vw;
        }
    }
}

@mixin clockTheme($theme) {
    .helvetica-clock .item {

        &.on {
            color: map-get($theme, on);
        }

        &.off {
            color: map-get($theme, off);
        }
    }
}

.day {
    @include clockTheme($theme_day);
}

.night {
    @include clockTheme($theme_night);
}
