<footer>
    <section class="quote">
        <div id="bulb"><a id="themeswitcher" href="javascript:switchTheme()"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a></div>
        <div id="quote"></div>
    </section>
    <section class="links">
        <a href="https://twitter.com/bhashkarsharma" class="icon fa-twitter"></a>
        <a href="https://linkedin.com/in/bhashkarsharma" class="icon fa-linkedin"></a>
        <a href="https://github.com/bhashkarsharma" class="icon fa-github"></a>
        <a href="https://instagram.com/bhashkarsharma" class="icon fa-instagram"></a>
        <a href="mailto:info@bhashkar.me" class="icon fa-envelope"></a>
    </section>
    <section class="copyright">&copy; {{ 'now' | date: "%Y" }} Bhashkar Sharma</section>
</footer>
<script>
    function switchTheme() {
        var switcher = document.querySelector('#themeswitcher');
        var stylesheet = document.querySelector('#sitetheme');
        var currTheme = stylesheet.href.includes('day') ? 'day' : 'night';
        var newTheme = stylesheet.href.includes('day') ? 'night' : 'day';
        var newHref = stylesheet.href.replace(currTheme, newTheme);
        stylesheet.href = newHref;
    }
</script>
