.instructions {
    color: #999;
    font-style: italic;
    margin: 10px 0;
    padding: 10px;

    table {
        border: 1px solid;
        width: 100%;

        th, td {
            border: 1px solid;
            padding: 5px;
            text-align: center;
        }
    }
}