$colors_day: (
    bg: #e6e6e6,
    border: #aaa,
    shadow: #666
);

$colors_night: (
    bg: #e6e6e6,
    border: #aaa,
    shadow: #666
);

.digit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 16vw;
    margin: 0 1vw;
    position: relative;
    width: 9vw;

    .node {
        position: absolute;

        .edge {
            border-radius: 1vw;
            height: 4.75vw;
            position: absolute;
            transition-duration: 0.5s;
            transform-origin: 0.75vw 0.75vw;
            width: 1.5vw;

            &.mask {
                z-index: 2;
            }
        }

        .knob {
            border-radius: 1vw;
            height: 1.5vw;
            position: absolute;
            width: 1.5vw;
            z-index: 3;

            .inner {
                border-radius: 1vw;
                height: 0.5vw;
                left: 0.45vw;
                position: absolute;
                top: 0.45vw;
                width: 0.5vw;
            }
        }

        $node_dist: 5vw;

        &:nth-child(1) {
            left: 0;
            top: 0;

            .edge.mask {

                &:nth-child(3) {
                    transform: rotateZ(90deg);
                }

                &:nth-child(4) {
                    transform: rotateZ(180deg);
                }
            }
        }
        
        &:nth-child(2) {
            left: $node_dist;
            top: 0;

            .edge.mask {
                
                &:nth-child(3) {
                    transform: rotateZ(270deg);
                }

                &:nth-child(4) {
                    transform: rotateZ(180deg);
                }
            }
        }
        
        &:nth-child(3) {
            left: 0;
            top: $node_dist;

            .edge.mask {
                
                &:nth-child(3) {
                    transform: rotateZ(90deg);
                }

                &:nth-child(4) {
                    transform: rotateZ(90deg);
                }
            }
        }
        
        &:nth-child(4) {
            left: $node_dist;
            top: $node_dist;

            .edge.mask {
                
                &:nth-child(3) {
                    transform: rotateZ(270deg);
                }

                &:nth-child(4) {
                    transform: rotateZ(270deg);
                }
            }
        }
        
        &:nth-child(5) {
            left: 0;
            top: 2 * $node_dist;

            .edge.mask {
                
                &:nth-child(3) {
                    transform: rotateZ(0deg);
                }

                &:nth-child(4) {
                    transform: rotateZ(90deg);
                }
            }
        }
        
        &:nth-child(6) {
            left: $node_dist;
            top: 2 * $node_dist;

            .edge.mask {
                
                &:nth-child(3) {
                    transform: rotateZ(0deg);
                }

                &:nth-child(4) {
                    transform: rotateZ(270deg);
                }
            }
        }
    }
}

@mixin setColors($theme) {
    .digit {
    
        .node {
    
            .edge {
                background: map-get($theme, bg);
                border: 1px solid map-get($theme, border);
                box-shadow: 1px 1px 1px map-get($theme, shadow);

                &.mask {
                    background: map-get($theme, shadow);
                    border: 1px solid map-get($theme, border);
                    box-shadow: 1px 1px 1px map-get($theme, shadow);
                }
            }
    
            .knob {
                background: map-get($theme, bg);
                border: 1px solid map-get($theme, border);
                box-shadow: 2px 2px 4px map-get($theme, shadow);
    
                .inner {
                    border: 1px solid map-get($theme, border);
                }
            }
        }
    }
}

.day {
    @include setColors($colors_day);
}

.night {
    @include setColors($colors_night);
}
