.insta-holder {
    column-count: 5;
    column-gap: 5px;

    a {
        border: 0;
    }

    .insta-item {
        display: inline-block;
        position: relative;

        .meta {
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            transition: all 0.5s;
            width: 100%;

            &:hover {
                opacity: 1;
            }

            .likes {
                display: block;
                font-size: 1.25em;
                margin: 100px auto 0;
                text-align: center;
            }

            .caption {
                bottom: 10px;
                left: 10px;
                position: absolute;
            }
        }
    }
}

$widths: (
    w1200: (
        cols: 4,
        width: 1200px
    ),

    w1000: (
        cols: 3,
        width: 1000px
    ),

    w800: (
        cols: 2,
        width: 800px
    ),

    w400: (
        cols: 1,
        width: 400px
    )
);

@function getVal($map, $val) {
    @return map-get(map-get($widths, $map), $val);
}

@each $width, $val in $widths {
    @media (max-width: getVal($width, width)) {
        .insta-holder {
            column-count: getVal($width, cols);
        }
    }
}
