@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.insta-holder {
    columns: 4;
    min-height: 200px;

    a {
        border: 0;
    }

    .insta-item {
        animation: fadeIn 2s normal forwards ease-in;
        display: inline-block;
        position: relative;
        width: 100%;
        
        img {
            width: 100%;
        }

        .meta {
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            transition: all 0.5s;
            width: 100%;

            &:hover {
                opacity: 1;
            }

            .likes {
                display: block;
                text-align: center;
            }

            .caption {
                position: absolute;
                bottom: 10px;
                left: 10px;
            }
        }
    }
}

$widths: (
    w1440: (
        likes_font: 2em,
        likes_margin: 100px auto 0,
        caption_display: inherit,
        min: 961px,
        max: 1440px
    ),
    w960: (
        likes_font: 1.5em,
        likes_margin: 75px auto 0,
        caption_display: none,
        min: 481px,
        max: 960px
    ),
    w480: (
        likes_font: 1.25em,
        likes_margin: 25px 10px,
        caption_display: none,
        min: 321px,
        max: 480px
    ),
    w320: (
        likes_font: 1.25em,
        likes_margin: 10px,
        caption_display: none,
        min: 0px,
        max: 320px
    )
);

@function getVal($map, $val) {
    @return map-get(map-get($widths, $map), $val);
}

@each $width, $val in $widths {
    @media (min-width: getVal($width, min)) and (max-width: getVal($width, max)) {
        .insta-item {

            .meta {
                
                .likes {
                    font-size: getVal($width, likes_font);
                    margin: getVal($width, likes_margin);
                }

                .caption {
                    display: getVal($width, caption_display);
                }
            }
        }
}
}
