$theme_day: (
    link: lime,
    link_hover: green,
    link_chosen: green,
    button: #CCC,
    button_hover: #FFF
);

$theme_night: (
    link: #459045,
    link_hover: #459045,
    link_chosen: #80ff80,
    button: #333,
    button_hover: #000
);

.content {
    padding: 1em;
}

@keyframes rainbow { 
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position:100% 19%;
    }
    100% {
        background-position:0% 82%;
    }
}

.set {
    padding: 20px;

    a {
        border: 1px solid;
        display: inline-block;
        margin: 10px;
        padding: 10px;
    }

    button {
        border: 1px solid;
        border-radius: 5px;
        display: inline-block;
        font-size: 1.2em;
        margin: 10px;
        padding: 15px;
    }

    .final-stats {
        animation: rainbow 18s ease infinite;
        background: linear-gradient(90deg, #ff2400, #e81d1d, #e8b71d, #e3e81d,
                    #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
        background-size: 1800% 1800%;
        padding: 90px 10px;
        text-align: center;

        .over {
            font-size: 2em;
            font-weight: bold;
        }
    }

    .score {
        font-weight: bold;
        text-align: center;
    }
    
    .stats {
        font-weight: bold;

        &>div {
            display: inline-block;
            font-size: 1.2em;
            width: 33.33%;

            a {
                border: none;
                margin: 0;
                padding: 0;
            }

            i {
                margin: 10px;
            }
            
            &:nth-child(1) {
                text-align: left;
            }

            &:nth-child(2) {
                text-align: center;
            }

            &:nth-child(3) {
                text-align: right;
            }
        }

        .gameTimer {
            width: 100%;
        }
    }

    &.easy {

        .card {

            .icon {
                margin: 15px auto;
                zoom: 1.5;
            }
        }
    }

    &.medium {

        .card {

            .icon {
                &:nth-child(1):nth-last-child(1) {
                    margin: 25px auto;
                }
        
                &:nth-child(1):nth-last-child(2),
                &:nth-child(2):nth-last-child(1) {
                    margin: 10px auto;
                }

                &:nth-child(1):nth-last-child(3),
                &:nth-child(2):nth-last-child(2),
                &:nth-child(3):nth-last-child(1) {
                    margin: 5px auto;
                }
            }
        }
    }
}

@mixin theme_colors($theme) {
    .set {

        a {
            color: map-get($theme, link);

            &:hover {
                color: map-get($theme, link_hover);
            }

            &.chosen {
                color: map-get($theme, link_chosen);
                border-color: map-get($theme, link_chosen);
                font-weight: bold;
            }
        }

        button {
            background-color: map-get($theme, button);

            &:hover {
                background-color: map-get($theme, button_hover);
            }
        }
    }
}

.day {
    @include theme_colors($theme_day);
}

.night {
    @include theme_colors($theme_night);
}
