$icon_colors: (
    red: #E74C3C,
    green: #27AE60,
    blue: #2980B9
);

$highlight_day: (
    clicked: #333333,
    success: #00ff00,
    error: #ff2f00,
    hint: #0077ff
);

$highlight_night: (
    clicked: #FFFFFF,
    success: #66ff66,
    error: #ff6666,
    hint: #99ccff
);

$icon_size: 20px;
$icon_inner_diff: 6px;

@keyframes zoominout {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.05, 1.05);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes shake {
    20% {
        transform: translate3d(-4px, 0, 0);
    }
    80% {
        transform: translate3d(4px, 0, 0);
    }
}

.card {
    display: inline-block;
    width: 33.33%;
    
    .inner {
        background-color: white;
        border: 1px solid;
        border-radius: 5px;
        height: 100px;
        margin: 5px;
        padding: 10px;
        text-align: center;
        transition: all .2s ease-in-out;
    }

    .icon {
        margin: 5px auto;
        position: relative;
    }

    .square {
        border-style: solid;
        border-width: 2px;
        height: $icon_size;
        width: $icon_size;
    }

    .round {
        border-style: solid;
        border-width: 2px;
        border-radius: $icon_size/2;
        height: $icon_size;
        width: $icon_size * 3/2;
    }

    .triangle {
        border-left: $icon_size/2 solid transparent;
        border-right: $icon_size/2 solid transparent;
        height: 0;
        width: 0;

        &.empty:after {
            content: '';
            border-left: ($icon_size - $icon_inner_diff)/2 solid transparent;
            border-right: ($icon_size - $icon_inner_diff)/2 solid transparent;
            border-bottom: ($icon_size - $icon_inner_diff) solid white;
            height: 0; 
            left: -($icon_inner_diff + 1);
            position: absolute;
            top: ($icon_inner_diff/2) + 1;
            width: 0;
        }

        &.shaded:before {
            content: '';
            border-left: ($icon_size - $icon_inner_diff)/2 solid transparent;
            border-right: ($icon_size - $icon_inner_diff)/2 solid transparent;
            border-bottom: ($icon_size - $icon_inner_diff) solid white;
            height: 0; 
            left: -($icon_inner_diff + 1);
            position: absolute;
            top: ($icon_inner_diff/2) + 1;
            width: 0;
        }

        &.shaded:after {
            content: '';
            border-left: ($icon_size - $icon_inner_diff)/2 solid transparent;
            border-right: ($icon_size - $icon_inner_diff)/2 solid transparent;
            height: 0; 
            left: -($icon_inner_diff + 1);
            position: absolute;
            top: ($icon_inner_diff/2) + 1;
            width: 0;
        }
    }
}
@each $name, $value in $icon_colors {
    .card {
        .inner.#{$name} {
            .square, .round {
                border-color: #{$value};

                &.filled {
                    background-color: #{$value};
                }

                &.shaded {
                    background: linear-gradient(
                        to bottom,
                        #{$value},
                        #{$value} 50%,
                        white 50%,
                        white
                    );
                }
            }

            .triangle {
                border-bottom: $icon_size solid #{$value};

                &.shaded:after {
                    border-bottom: $icon_size/2 solid #{$value};
                }
            }
        }
    }
} 

@mixin highlight_colors($theme) {
    .card .inner {
        &.clicked {
            box-shadow: 0px 0px 4px 4px #{map-get($theme, clicked)};
        }
        &.success {
            animation: zoominout 1s infinite;
            box-shadow: 0px 0px 4px 4px #{map-get($theme, success)};
        }
        &.error {
            box-shadow: 0px 0px 4px 4px #{map-get($theme, error)};
        }
        &.hint {
            animation: shake 0.5s infinite;
            box-shadow: 0px 0px 4px 4px #{map-get($theme, hint)};
        }
    }
}

.day {
    @include highlight_colors($highlight_day);
}

.night {
    @include highlight_colors($highlight_night);
}
