---
---
@import "font-awesome/scss/font-awesome";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
   color: green;
    text-decoration: none;

    &:hover {
        color: blue;
    }
}

header {
    padding: 1em 2em;
}

.content {
    flex: 1;
    padding: 1em 2em;
}

footer {
    padding: 1em 2em;
    
    .links {
        font-family: "FontAwesome";
        
        a {
            font-size: 2em;
            margin: 0 0.45em;
            padding: 0.4em;
            text-decoration: none;
            
            &.icon {
                
                &.fa-envelope:hover {
                    color: #8e8e8e;
                }
                
                &.fa-github:hover {
                    color: #55a532;
                }
                
                &.fa-instagram:hover {
                    color: #d047d1;
                }
                
                &.fa-linkedin:hover {
                    color: #007bb6;
                }
                
                &.fa-twitter:hover {
                    color: #55acee;
                }
            }
        }
    }
}

img {
    max-width: 100%;
}

.video-box {
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
    
    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.home {

    .post-list {
        list-style-type: none;
        padding-left: 0;

        .post-meta {
            display: inline-block;
            width: 150px;
        }
    }
}

.post {
    max-width: 600px;

    .post-title {

    }
    .post-meta {
        font-style: italic;
    }
    .post-content {
    }
}
