$theme_day: (
    link: lime,
    link_hover: green,
    link_chosen: green,
    button: #CCC,
    button_hover: #FFF
);

$theme_night: (
    link: #459045,
    link_hover: #459045,
    link_chosen: #80ff80,
    button: #333,
    button_hover: #000
);

.options {
    padding: 20px 10px;
    text-align: center;

    .conf {
        
        a {
            border: 1px solid;
            display: inline-block;
            margin: 10px;
            padding: 10px;
        }

        .choice {
            font-size: 1.4em;
            font-weight: bold;
            margin: 10px;
        }
    }
}


@mixin theme_colors($theme) {
    .options {

        a {
            color: map-get($theme, link);

            &:hover {
                color: map-get($theme, link_hover);
            }

            &.chosen {
                color: map-get($theme, link_chosen);
                border-color: map-get($theme, link_chosen);
                font-weight: bold;
            }
        }

        button {
            background-color: map-get($theme, button);

            &:hover {
                background-color: map-get($theme, button_hover);
            }
        }
    }
}

.day {
    @include theme_colors($theme_day);
}

.night {
    @include theme_colors($theme_night);
}
