$theme_day: (
    link: lime,
    link_hover: green,
    link_chosen: green,
    button: #CCC,
    button_hover: #FFF
);

$theme_night: (
    link: #459045,
    link_hover: #459045,
    link_chosen: #80ff80,
    button: #333,
    button_hover: #000
);

.options {
    padding: 20px 10px;
    text-align: center;

    .conf {
        margin: 20px 0;

        label {
            display: inline-block;
            font-size: 2em;
        }
    }
}


@mixin theme_colors($theme) {
    .options {

        label {
            color: map-get($theme, link);

            &.chosen {
                color: map-get($theme, link_chosen);
            }
        }

    }
    
    button {
        background-color: map-get($theme, button);

        &:hover {
            background-color: map-get($theme, button_hover);
        }
    }
}

.day {
    @include theme_colors($theme_day);
}

.night {
    @include theme_colors($theme_night);
}
