.quote {
    margin: 3vw;
    text-align: center;

    #bulb {
        margin: 10px;
    }

    a {
        border: none;
    }

    .fa {
        font-size: 3vw;
    }

    .text {
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;

        p {
            display: inline;
        }
    }

    .author {
        font-size: 1em;
        margin-top: 5px;
    }
}
