<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include head.html %}
    <body>
        {% include header.html %}
        <section class="content">
            <div class="404">
                <h1>Not Found!</h1>
            </div>
        </section>
        {% include footer.html %}
        <script>
            (function() {
                var redirects = [
                    []
                ];
                var filtered = redirects.filter(function(i) {
                    i[0] === window.location.pathname;
                });
                if (filtered.length > 0) window.location = filtered[0][1];
            })();
            (function() {
                var routes = [];
                {% for post in site.posts %}routes.push('{{post.url}}');{% endfor %}
                var frags = processUrl(window.location.pathname);
                var final = '';
                var max = 0;
                routes.forEach(function(e) {
                    var filtered = frags.filter(function(i) { return processUrl(e, 1).indexOf(i) > -1; })
                    if (filtered.length > 0) {
                        max = Math.max(max, filtered.length);
                        if (max === filtered.length) final = e;
                    }
                });
                if(final.length > 0) window.location = final;
            })();
            function processUrl(url, idx) {
                url = url.split('/').filter(function(i) { return i.length > 0; });
                if (idx === null) idx = url.length;
                if (url.length > 0) return url[url.length - 1].split('-');
            }
        </script>
    </body>
</html>
