<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include head.html %}
    <body>
        {% include header.html %}
        <section class="content">
            <div class="404">
                <h1>Not Found!</h1>
            </div>
        </section>
        {% include footer.html %}
        <script>
            (function() {
                var routes = [];
                {% for post in site.posts %}routes.push('{{post.url}}');{% endfor %}
                var frags = window.location.pathname.split('/');
                frags.shift();
                // strip /blog from post url
                if (frags.indexOf('blog') > -1 && frags.length > 2) {
                    var newUrl = window.location.pathname.replace('/blog', '');
                    if (routes.indexOf(newUrl) > -1) {
                        window.location = newUrl;
                    } else {
                        routes.forEach(function(e) {
                            if (e.indexOf(frags[frags.length-2]) > -1) {
                                window.location = e;
                            }
                        });
                    }
                }
            })();
        </script>
    </body>
</html>
