---
layout: base
---
<div class="about">
    <h1>About</h1>
    <p>Welcome to my website.</p>
    <p>I am passionate about an open web and great user experiences.</p>
    <p>I love books; and attempt to write at times. I enjoy sharing my learnings on <a href="http://quora.com/Bhashkar-Sharma">Quora</a>, among other places.</p>
    <p>The excitement of learning new things is the reason I get out of bed in the morning.</p>
    <p>You can find my <a href="http://static.bhashkar.me/Resume_Jan2017.pdf">resume</a> here.</p>
</div>