---
layout: base
---
<progress id="scrollPos" value="0"></progress>
{% if page.image %}
<style>
header {
    background-attachment: fixed;
    background-image: url('{{ page.image }}');
    background-position: center;
    background-size: cover;
    min-height: 300px;
}
</style>
{% endif %}
<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <span class="post-meta">{{ page.date | date: date_format }}</span>
    {% if page.categories %}<span class="post-meta">Posted in: <a class="post-category" href="{% link categories.md %}#{{page.categories[0] | slugify}}">{{ page.categories[0] }}</a></span>{% endif %}
    {% if page.tags %}
    <span class="post-meta">
        {% for tag in page.tags %}
        <a class="post-tag" href="{% link tags.md %}#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
    </span>
    {% endif %}
    <div class="post-content">
    {{ content }}
    </div>
    {% include disqus.html %}
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var progress = document.getElementById('scrollPos');
    var windowHeight = window.innerHeight;
    var body = document.body, html = document.documentElement;
    var bodyHeight = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight);
    var maxHeight = bodyHeight - windowHeight;
    progress.max = maxHeight;

    window.onscroll = function(event) {
        progress.value = window.pageYOffset;
    }
});
</script>