$red: red;//#E74C3C;
$green: green;//#27AE60;
$blue: blue;///#2980B9;
$colors: $red $blue $green;
$icon_size: 20px;
$icon_inner_diff: 6px;

.content {
    padding: 1em;
}

.set {
    .card {
        border: 1px solid;
        border-radius: 5px;
        display: inline-block;
        height: 100px;
        margin: 5px;
        padding: 10px;
        text-align: center;
        width: 75px;

        .icon {
            margin: 5px auto;
            position: relative;
        }

        .square {
            border-style: solid;
            border-width: 2px;
            height: $icon_size;
            width: $icon_size;
        }

        .round {
            border-style: solid;
            border-width: 2px;
            border-radius: $icon_size/2;
            height: $icon_size;
            width: $icon_size * 3/2;
        }

        .triangle {
            border-left: $icon_size/2 solid transparent;
            border-right: $icon_size/2 solid transparent;
            height: 0;
            width: 0;

            &.empty:after {
                content: '';
                border-left: ($icon_size - $icon_inner_diff)/2 solid transparent;
                border-right: ($icon_size - $icon_inner_diff)/2 solid transparent;
                border-bottom: ($icon_size - $icon_inner_diff) solid white;
                height: 0; 
                left: -($icon_inner_diff + 1);
                position: absolute;
                top: ($icon_inner_diff/2) + 1;
                width: 0;
            }

            &.shaded:before {
                content: '';
                border-left: ($icon_size - $icon_inner_diff)/2 solid transparent;
                border-right: ($icon_size - $icon_inner_diff)/2 solid transparent;
                border-bottom: ($icon_size - $icon_inner_diff) solid white;
                height: 0; 
                left: -($icon_inner_diff + 1);
                position: absolute;
                top: ($icon_inner_diff/2) + 1;
                width: 0;
            }

            &.shaded:after {
                content: '';
                border-left: ($icon_size - $icon_inner_diff)/2 solid transparent;
                border-right: ($icon_size - $icon_inner_diff)/2 solid transparent;
                height: 0; 
                left: -($icon_inner_diff + 1);
                position: absolute;
                top: ($icon_inner_diff/2) + 1;
                width: 0;
            }
        }
        &.clicked {
            border: 4px solid;
        }
    }
    @each $color in $colors {
        .card.#{$color} {
            .square, .round {
                border-color: #{$color};

                &.filled {
                    background-color: #{$color};
                }

                &.shaded {
                    background: linear-gradient(
                        to bottom,
                        #{$color},
                        #{$color} 50%,
                        white 50%,
                        white
                    );
                }
            }

            .triangle {
                border-bottom: $icon_size solid #{$color};

                &.shaded:after {
                    border-bottom: $icon_size/2 solid #{$color};
                }
            }
        }
    }
    .score {
        font-weight: bold;

        div {
            display: inline-block;
            width: 50%;

            &:nth-child(1) {
                text-align: left;
            }
            
            &:nth-child(2) {
                text-align: right;
            }
        }
    }
    .rules {
        border: 1px dashed #999;
        color: #999;
        font-style: italic;
        margin: 10px 0;
        padding: 10px;
    }
}

