.content {
    padding: 1em;
}

.set {
    background: white;
    padding: 20px;

    .final-stats {
        border: 1px solid;
        height: 200px;
        padding: 90px 10px;
        text-align: center;
    }

    .score {
        font-weight: bold;
        text-align: center;
    }
    
    .stats {
        font-weight: bold;

        div {
            display: inline-block;
            width: 50%;

            &:nth-child(1) {
                text-align: left;
            }
            
            &:nth-child(2) {
                text-align: right;
            }
        }
    }

    .instructions {
        border: 1px dashed #999;
        color: #999;
        font-style: italic;
        margin: 10px 0;
        padding: 10px;
    }
}

